<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to nginx, {{ ansible_user }}</h1>
<p>Go to the <a href="http://{{ ansible_host }}:8000">php app</a></p>
</body>
</html>
